@model AspNet5MvcRunningOnUbuntu.Models.Child

<html>
<head>
    <title>
        ASP.NET 5 runs on Ubuntu
    </title>
</head>
<body>
    <h1>@Model.Name says hi!</h1>

    <p>
        @Model.MessageToMom
    </p>
</body>
</html>